<head>
  <style>
    body {
      background-color: #f8f9fa;
    }

    .container {
      margin-top: 100px;
      text-align: center;
    }

    h1 {
      color: #dc3545;
      font-size: 48px;
      font-weight: bold;
    }

    p {
      color: #343a40;
      font-size: 24px;
      margin-bottom: 30px;
    }

    .btn {
     
      color: #fff;
      font-size: 18px;
      padding: 10px 30px;
      border-radius: 5px;
    }
  </style>
</head>

<body>
  <div class="container">
    <h1 class="fade-in">404 Failure</h1>
    <p>Oops! We have encountered a problem, please try again! Let us know if the problem continues.</p>
    <a href="/auth/login" class="btn btn-primary">Return to Login</a>
    <a href="/" class="btn btn-success">Return to Home</a>
  </div>
</body>



