<!-- FILEPATH: /Users/dominicfrancis/repos/recipe_project/server/views/login.hbs -->

<div class="d-flex justify-content-center align-items-center" style="padding-top: 60px; margin-top: 60px; margin-left: 50px;"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Local Login</h2>
                <form action="/auth/login" method="POST" id="loginForm">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
            <div class="col-md-6">
                <h2>Google Login</h2>
                <form action="/auth/google" method="POST">
                    <button type="submit" class="btn btn-danger">Login with Google</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#loginForm').submit(function(event) {
            event.preventDefault();
            var formData = $(this).serialize();
            
            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: formData,
                success: function(response) {
                        console.log('success', response);
                    },
                error: function(xhr, status, error) {
                    console.log(xhr.responseText);
                }
            });
        });
    });
</script>
