/* for nav cards */

.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-1-menu,
.section-2-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.section-1-menu li,
.section-2-menu li {
  display: inline-block;
  margin-right: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  color: #555555;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-content a {
  color: #555555;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content a:hover {
  background-color: #e0e0e0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* for recipe cards */

.slender-card {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

@media (min-width: 576px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .col-sm-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding-right: 15px;
    padding-left: 15px;
  }
}
